# Stan temporary files
*.rds
!pga-tour-2024.rds

# History files
*~
*#

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/
*_cache
*_files

# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
Bayesian_Workflow_book.pdf
/.quarto/
**/*.quarto_ipynb

# Stan output
stan_output

# Stan model binaries
digits/linear
dogs/dogs_1
dogs/dogs_2
dogs/dogs_0
dogs/dogs_3
dogs/dogs_5
dogs/dogs_4
problems/logit_glm2
problems/pois_glm
problems/hier_cp
problems/logit_glm4
problems/linear_glm2
problems/hier_ncp
problems/student
problems/logit_glm3
problems/linear_glm
problems/logit_glm
problems/linear_glm_kilpis
park_rule/park_1
park_rule/park_2_normal
park_rule/park_1c
park_rule/park_3
park_rule/park_3_normal
park_rule/park_2
park_rule/park_4
park_rule/park_1_normal
movies/ratings_1
movies/ratings_3
movies/ratings_2
roaches/poisson_vi_integrate
declining_exponentials/exponential_positive_lognormal
declining_exponentials/exponential_positive
declining_exponentials/sum_of_exponentials_with_priors
declining_exponentials/sum_of_exponentials
declining_exponentials/exponential
coronavirus/santa-clara-hierarchical-mrp
coronavirus/prior-sensitivity
coronavirus/santa-clara-hierarchical
coronavirus/santa-clara
planetary_motion/planetary_motion
planetary_motion/planetary_motion_sim
planetary_motion/planetary_motion_star
bioassay/bioassay1
bioassay/bioassay0
multiple_choice/logit_guessing
multiple_choice/logit_guessing_multilevel
multiple_choice/logit_guessing_multilevel_bivariate_cholesky
multiple_choice/logit_guessing_uncentered
multiple_choice/logit_threshold_prior
multiple_choice/logit_guessing_uncentered_multilevel
multiple_choice/logit_prior
multiple_choice/irt_guessing_discrimination
multiple_choice/logit_0
multiple_choice/logit_guessing_multilevel_bivariate
multiple_choice/logit_threshold
multiple_choice/irt_guessing
cat_adoptions/adoptions_imputation
cat_adoptions/adoptions_observed
cat_adoptions/adoptions_poisson
cat_adoptions/adoptions_varying
cat_adoptions/adoptions_censored
sharks/step_turn_hmm_tpm_cre_ncp
sharks/step_turn_hmm
sbc/models/logistic_first
sbc/models/mixture_fixed_ordered
sbc/models/logistic_fixed_prior
sbc/models/logistic_merged_intercept
sbc/models/combined_first
sbc/models/mixture_first
sbc/models/mixture_fixed_log_mix
golf/golf_angle_distance_binomial_with_proportional_errors_3
golf/golf_angle_distance_binomial_with_proportional_errors_2
golf/golf_logistic
golf/golf_angle_distance_binomial_with_proportional_errors
golf/golf_angle_distance_binomial_with_logit_errors
golf/golf_angle_distance_binomial
golf/golf_angle_distance_normal
golf/golf_angle_binomial
golf/golf_angle_distance_normal_with_resids
golf/golf_log_lik
birthdays/gpbf8
birthdays/gpbf1b
birthdays/gpbf7
birthdays/gpbf5
birthdays/gpbf8rhs
birthdays/gpbf2
birthdays/gpbf1
birthdays/gpbf6
birthdays/gpbf8rhs_nogq
birthdays/gpbf3
birthdays/gpbf8tnu
birthdays/gpbf4
timeseries/mixture_2
timeseries/mixture
world_cup/worldcup_continuous
world_cup/worldcup_sqrt_discrete
world_cup/worldcup_first_try
world_cup/worldcup_poisson_difference
world_cup/worldcup_discrete_z
world_cup/worldcup_discrete_nopower
world_cup/worldcup_fixed
world_cup/worldcup_discrete_pooled
world_cup/worldcup_discrete_poweronly
world_cup/worldcup_no_prior
world_cup/worldcup_no_sqrt
world_cup/worldcup_continuous_midpoint_ll
world_cup/worldcup_sqrt_continuous
world_cup/worldcup_discrete
world_cup/worldcup_bivariate_poisson
world_cup/worldcup_with_replication
world_cup/worldcup_sqrt_continuous_nojacobian

# Grayscale review rendered pages
Bayesian_Workflow_book_gray.pdf
gray_review_pages/
